@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic);

body {
  font-size: 18px;
  font-weight: 300;
  background-image: C2/img/background.jpg;
  background-attachment: fixed;
  a:link, a:visited {
    text-decoration: none;
    color: #0000AA;
    a:hover {
      background-color: #0000EE;
    }
    input:focus {
      background-color: #0000EE;
    }
  }
}